/*
* Custom CSS
*/
/* .lcp-container{
  width: 100%;
} */
.lcp-container h1,
.lcp-container h2,
.lcp-container h3,
.lcp-container h4,
.lcp-container h5,
.lcp-container p,
.lcp-container div,
.lcp-container span,
.lcp-container h6,
.lcp-container small,
.lcp-container strong,
.lcp-container button,
.lcp-container a {
  font-family: "Montserrat" !important;
}
.lcp-container .prepay h4,
.lcp-container .monthly h4 {
  color: #222;
  font-size: 20px;
  font-weight: 700;
}
.lcp-container .prepay .lcp-discount {
  color: #20a18a;
}
.lcp-container .btn-leo {
  padding: 20px 40px;
  background-color: #20a18a;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  border-color: transparent;
}
.lcp-container .btn-leo:hover {
  background-color: #28ccae;
}
/* .lcp-container .form-switch.form-switch-toggle{
  font-size: large;
} */
.lcp-container .monthly{
  margin-left: -40px;
}
.lcp-container .form-switch.form-switch-toggle > .form-check-input {
  background-color: #e1e1e1;
  font-size: 50px;
  background-image: url(assets/images/green-circle.svg);
}
.lcp-container .form-switch.form-switch-toggle > .form-check-input:hover, .lcp-container .form-switch.form-switch-toggle > .form-check-input:focus{
  border: 1px solid #20a18a;
}
.lcp-container .lcp-left-toggler{
    gap: 50px;
}
@media(max-width: 578px){
  .lcp-container .btn-leo{
    padding: 10px 20px;
  }
}
.lcp-container .lcp-price{
  gap: 15px;
}
.lcp-container .lcp-sale-price{
  color: #20a18a;
}
.lcp-container .lcp-featured-image img{
  height: 60px;
  object-fit: contain;
  object-position: center center;
}
.lcp-container .lcp-product-description{
  line-height: 38px;
  font-weight: 500;
}
.lcp-container .text-strikethrough:before {
  border-color: currentcolor #ef4f24 #ef4f24;
  border-top: 3px solid #ef4f24;
  content: "";
  left: -5%;
  opacity: .7;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: rotate(-22deg);
  z-index: 2;
}
.lcp-container .text-strikethrough{
  position: relative;
}
