/*
* Custom CSS
*/
.lcp-container h1,
.lcp-container h2,
.lcp-container h3,
.lcp-container h4,
.lcp-container h5,
.lcp-container p,
.lcp-container div,
.lcp-container span,
.lcp-container h6,
.lcp-container small,
.lcp-container strong,
.lcp-container button,
.lcp-container a {
  font-family: "Montserrat" !important;
}
.lcp-container .prepay h4,
.lcp-container .monthly h4 {
  color: #222;
  font-size: 20px;
  font-weight: 700;
}
.lcp-container .prepay .lcp-discount {
  color: #20a18a;
}
.lcp-container .btn-leo {
  padding: 20px 40px;
  background-color: #20a18a;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  border-color: transparent;
}
.lcp-container .btn-leo:hover {
  background-color: #28ccae;
}
.form-switch.form-switch-toggle > .form-check-input {
  background-color: #e1e1e1;
  font-size: 50px;
  background-image: url(green-circle.svg);
}
.lcp-container .lcp-left-toggler{
    gap: 50px;
}

